#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.spinner {
  margin: 2rem auto;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0,0,0,0.1);
  border-left-color: #3b82f6; /* blue-500 */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pokemon-card {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #7aa4e8;
  color: rgb(27, 2, 2);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #5b8cd6;
}

.edit-button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #7aa4e8;
  color: rgb(27, 2, 2);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #e87a7a;
  color: rgb(27, 2, 2);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.entry-card {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form label {
  display: block;
  font-weight: bold;
}

.form-input {
  width: 90%;
  padding: 8px;
  margin-bottom: 6px;
  border: 1px solid #eee;
  border-radius: 4px;
}